
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400&display=swap');


* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.App {
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img {
  height: 130x;
  width: 130px;
  border-radius: 50%;
  border: 1px solid lightgray;
  float: left;
  margin-right: 30px;
  margin-top: 15px;
}

.students {
  margin-left: auto;
  margin-right: auto;
  /* first two lines set the entire card in centre */
  margin-top: 50px;
  margin-bottom: 50px;

  /* the following lines make the parent div students cards lie on one screen only */
  height: 685px;
  overflow: auto;
}

.data {
  margin-left: 20px;
  padding-top: 15px;
}

.searchBar {
  border: none;
  border-bottom: 1px solid black;
  width: 96%;
  font-size: 20px;
  padding: 3px;
  font-weight: lighter;
  outline: none;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.upperBox{
  margin-bottom: 10px;
}

.grades {
  justify-content: space-between;
  margin-left: 138px;
  width: 110px;
  margin-bottom: 10px;
}

.gradesList {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.title{
  text-transform: uppercase;
  font-size: larger;
  font-weight: bolder;
}

button {
  color: #ecf0f1;
  background: white;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 1.5em;
  position: relative;
  
}

button span {
  position: absolute;
  transition: 300ms;
  background: gray;
  border-radius: 2px;
}

/* Create the "+" shape by positioning the spans absolutely */
button span:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

button span:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

/* Morph the shape when the button is hovered over */
button:focus span {
  transform: rotate(90deg);
}



/* button:focus span:last-child {
  left: 50%;
  right: 50%;
  
  transform: rotate(-90deg);
  }

button:focus span:first-child {
  left: 50%;
  right: 50%;
  
}   */

.input-tag {
  background: white;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
  width: 200px;
  margin-left: 132px;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: lightgray;
  border-radius: 2px;
  color: black;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: fff;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.input{
  outline: none;
}